<div class="container">
  <div class="justify-self-center mt-10">
    <div class="text-4xl text-gray-900">
      <%= "#{@menu.title}" %>
    </div>
  </div>
  <% if current_user && current_user.own?(@menu) %>
    <div class='flex ml-20 mt-5 text-blue-700'> 
      <%= link_to "編集", edit_menu_path(@menu) %>
    </div>
    <div class='flex ml-20 mt-5 text-blue-700'> 
      <%= button_to '削除', menu_path(@menu), method: :delete %>
    </div>
  <% end %>
  <% @menu.recipes.each do |recipe| %>
    <%= recipe.title %>
    <div id="recipe-id-<%= recipe.id %>">
      <div class="bg-white rounded shadow">
       <%= image_tag recipe.avatar_url, class: "w-72 h-48 object-cover", alt: "Avatar" %>
      </div>
    </div>
   <% end %>
</div>